@{
    ViewBag.Title = "About";
}

<hgroup class="title">
	<h1>About</h1>
</hgroup>

<article>
    <p>This site was created for kicks to learn some better web UI coding.  Feedback and constructive criticism are VERY welcome!</p>
</article>

<aside>
    <h3>Wish List</h3>
    <ul>
		<li>Voting system</li>
		<li>Tag system</li>
		<li>Search system</li>
		<li>Subitems in selections to allow more options</li>
	</ul>
</aside>