@{
    ViewBag.Title = "Contact";
}

<h2>Contact me for no reason</h2>

<p>The creator of this site can be contacted at <a href="mailto:bfullj@gmail.com">bfullj@gmail.com</a> or on Reddit as nevertras.</p>